body {
 background-color: rgb(231, 231, 231);
}
/* .navbar{

}  */
 .categoryImg {
    border-radius: 30px;
}

.rounded{
    padding: 50px;
    height: 600px;
    width: 800px;

}
/* .bg-success {
    background-color: green;
} */

 /* .card-body{
    height: 70px;

} */

 #optionA {
    cursor: pointer;
} 

#optionB {
    cursor: pointer;
} 
#optionC {
    cursor: pointer;
} 
#optionD {
    cursor: pointer;
} 


/* .container {
    margin-top: 60px;

}    */ 
