body {
 background-color: rgb(231, 231, 231);
}
/* .navbar{

}  */
 .categoryImg {
    border-radius: 30px;
}

.rounded{
    padding: 50px;
    height: 600px;
    width: 800px;

}
.bg-success {
    background-color: green;
}

 /* .card-body{
    height: 70px;

} */

 #optionA {
    cursor: pointer;
} 

#optionB {
    cursor: pointer;
} 
#optionC {
    cursor: pointer;
} 
#optionD {
    cursor: pointer;
} 
footer{
    text-align: center;
    padding: 3px;
    background-color: aliceblue;
}
#github{
    height: 30px;
    width: 30px;
    margin-left: 50%;
    cursor: pointer;
}
/* .container {
    margin-top: 60px;

}    */ 
@media only screen and (max-width: 600px) {
    .rounded {
      height: 300px;
      width: 400px
    }
    footer{
        visibility: hidden;
    }
  }